* {
  user-select: none;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loginBG {
  position:absolute;
  width:100%;
  height:100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginIMG {
  position:absolute;
  top:0;
  width:100%;
  height:100%;
  object-fit:cover;
  object-position: bottom;
  z-index: 20;
}

.loginsection {
  position: absolute;
  right:5vw;
  background-color: rgba(82, 200, 255, 0.425);
  width:27%;
  height:66vh;
  z-index: 550;
  border-radius: 2vw;
  display: flex;
  flex-direction: column;
  padding:3vw;
}

.loginsection form {
  height:100%;
  width:100%;
  display: flex;
  flex-direction: column;
}

.loginsection form input {
  height:40%;
  width:100%;
  margin-bottom:2%;
  display: flex;
  flex-direction: column;
  border-radius: 1vw;
  font-size:2.6vh;
  padding-left:1vw;
  outline: none;
}
.loginsection form input:last-child {
  height:30%;
  width:50%;
  margin-bottom:0%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding:0;
  background-color: #669aec9f;
  color:white;
}

.loginsection form input:nth-child(2) {
  height:40%;
  width:100%;
  margin-bottom:15%;
  display: flex;
  flex-direction: column;
}


.logo {
  width:57%;
  margin-bottom:3vh;
}


.titlelogin {
  font-size: 3vw;
  margin:0;
  padding: 0;
}
.titlelogin2 {
  font-size: 1.45vw;
  margin:0;
  padding: 0;
  margin-bottom:5vh;
}

.logonav {
  height:80%;
  object-fit:cover;
  margin-left:40px;
}

.headertop {
  height:90px;
  display: flex;
  align-items: center;
  background-color: #669aec9f;

}

.navbar {
  background-color: white;
  border-bottom:15px solid #78acff25;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.navlink{
  color:#6699ec;
  font-weight: 500;
}

.navbarlist {
  display: flex;
  justify-content: space-around;
  padding-left:30%;
  padding-right:30%
}

.profiletype {
  padding:5px;
  margin-left:30px;
  border-radius:30px;
  padding-left:20px;
  padding-right:20px;
  color: rgb(255, 255, 255);
  font-size:25px;
  text-align: center;
  font-weight: 400;
  border:2px solid white;
}

.profiletype2 {
  margin-left:30px;
  border-radius:30px;
  padding:5px;
  padding-left:2px;
  color: rgb(255, 255, 255);
  font-size:25px;
  padding-left:20px;
  padding-right:20px;
  text-align: center;
  font-weight: 400;
  border:2px solid white;
  position:absolute;
  right:105px;
}

.imgexit{
  position:absolute;
  right:30px;
  width:48px;
  cursor:pointer;
}

.linkcontainer{
  display:flex;
  justify-content: center;
  align-items: center;
  margin-top:3px;
}

.userbody {
  background-color: #6699ec10;
  height:100%;
  position:absolute;
  width:100%;
}

.welcomeMSG {
  text-align: center;
  margin-top:30vh;
  font-size:3vw;
}

.fc .fc-timegrid-slot {
  height: 50px;
}

.calendarcontainer {
  height:650px;
  width:88%;
}

.planningcontainer {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin-bottom: 30px;
}

.fc .fc-prev-button {
  background-color: #669aec9f;
  color: white; 
  border: none;
  outline: none; 
}

.fc .fc-today-button {
  background-color: #669aec9f;
  color: white; 
  border: none;
  outline: none; 
}

.fc .fc-next-button {
  background-color: #669aec9f;
  color: white; 
  border: none;
  outline: none; 
}

.fc-event {
  cursor: pointer;
  background-color: #669aec9f;
}

.table {
  width: 100%;
  margin: 20px 0;
  font-size: 18px;
  text-align: left;
}

.table2 {
  background-color: #669aec9f;
  color: #ffffff;
  font-weight: bold;
}

.tableelements .tablehaut:nth-of-type(even) {
  background-color: #6699ec1e;
}

.tableelement {
  display: inline-block;
  padding: 10px;
  width: calc(50% - 20px); /* Répartit la largeur en deux colonnes */
  
}
